# Instructions and Requirements:
## Instructions:
*   This week students will have assignments,as describe in the presentations.
*   Goal is to make students friendly with sklearn, so that they can perform there tasks.
*   OLS and Gradient descent has been done with scratch to show the students, also check the python coding skills of the student to design future tasks accordingly.
*   Please find the datasets in the google drive folders
## Requirements:
    *   Notebook Environment(Juopyter or Google Colab)
    *   Students are expected to have following datasets:
    *   brainhead.csv
    *   student.csv
    *   insurance.csv
    *   salary.csv
    *   bank.csv

# Week2 - Outline
*   Gentle Introduction to Regression task Linear Regression
    *   Cost/Objective Function
    *   Analytical vs Gradient Descent Approach
    *   Regularization methods 
    *   List item
*   Gentle Introduction to Classification task Logistic Regression
    *   Cost/Objective Function
    *   Implementation with SKlearn

*   Requirements
    *   Notebook Environment(Juopyter or Google Colab)
    *   Students are expected to have following datasets:
    *   brainhead.csv
    *   student.csv
    *   insurance.csv
    *   salary.csv
    *   bank.csv

#Regression
The task of the Regression Algorithm is to find the maping function to map the input variable(x) to the continious output variable(y).
Regression analysis estimates the realtionship between a dependent variables and independent variables.
In the class we talked about two different approach


1.   Analytical Approach i.e Ordinary Least Square Methods
2.   Machine Learning Approach i.e Using Gradient Descent
In this exercise you are expected to implement both the methods from scratch.

#Ordinary Least Square Implementation from scratch
As per the Lectures, we can define the linear relationships between two variables as follows:
\begin{align}
        \mathbf{y} = \theta _o + \theta_1x
    \end{align}

Here:
$\theta _1$ is called scale factor or coefficient/slope and can be calculate as:
\begin{align}
        \mathbf{\theta _1} = \frac{\sum_{i=0}^n(x_i-\bar(x)))(y_i-\bar(y)) }{\sum_{i=1}^n(x_i-\bar(x))}.
    \end{align}
$\theta_o$ is an intercept and calculated as:
\begin{align}
        \mathbf{\theta_o} = \bar(y) - \theta_1 \bar(x)
    \end{align}
Implementation:
Start with Necessary Imports:

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
plt.rcParams['figure.figsize'] = (20.0, 10.0)

## Step-1
(Datasets for this particular task is <b>headbrain.csv</b>)


*   Decision Task:
    *   Predicti the weight of brain from given datasets.
    *   Approach Simple Linear Regression with OLS.
*   Error Function and Evaluation Metrics:
    *   MSE.
    *  R squared.
*   Tasks to DO:
    *   Read the dataset using pandas.
    *   Display top 5 and bottom 5 rows of datasets.
    *   Information of the datasets
    *   We are doing mathematical operations we need to convert our feature and target variable into arrays.

In [3]:
#import the dataset and display.
data = pd.read_csv('headbrain.csv')
print(data.shape)
data.head()

(237, 4)

   Gender  Age Range  Head Size(cm^3)  Brain Weight(grams)
0       1          1             4512                 1530
1       1          1             3738                 1297
2       1          1             4261                 1335
3       1          1             3777                 1282
4       1          1             4177                 1590

### Find the mean
To find the values of $\theta_o $ and $\theta_1$ we first need to calculate the mean of X and Y

In [5]:
X = data['Head Size(cm^3)']
X

0      4512
1      3738
2      4261
3      3777
4      4177
       ...
232    3214
233    3394
234    3233
235    3352
236    3391
Name: Head Size(cm^3), Length: 237, dtype: int64

In [6]:
type(X)

pandas.core.series.Series

In [9]:
X = data["Head Size(cm^3)"].values
X

array([4512, 3738, 4261, 3777, 4177, 3585, 3785, 3559, 3613, 3982, 3443,
       3993, 3640, 4208, 3832, 3876, 3497, 3466, 3095, 4424, 3878, 4046,
       3804, 3710, 4747, 4423, 4036, 4022, 3454, 4175, 3787, 3796, 4103,
       4161, 4158, 3814, 3527, 3748, 3334, 3492, 3962, 3505, 4315, 3804,
       3863, 4034, 4308, 3165, 3641, 3644, 3891, 3793, 4270, 4063, 4012,
       3458, 3890, 4166, 3935, 3669, 3866, 3393, 4442, 4253, 3727, 3329,
       3415, 3372, 4430, 4381, 4008, 3858, 4121, 4057, 3824, 3394, 3558,
       3362, 3930, 3835, 3830, 3856, 3249, 3577, 3933, 3850, 3309, 3406,
       3506, 3907, 4160, 3318, 3662, 3899, 3700, 3779, 3473, 3490, 3654,
       3478, 3495, 3834, 3876, 3661, 3618, 3648, 4032, 3399, 3916, 4430,
       3695, 3524, 3571, 3594, 3383, 3499, 3589, 3900, 4114, 3937, 3399,
       4200, 4488, 3614, 4051, 3782, 3391, 3124, 4053, 3582, 3666, 3532,
       4046, 3667, 2857, 3436, 3791, 3302, 3104, 3171, 3572, 3530, 3175,
       3438, 3903, 3899, 3401, 3267, 3451, 3090, 3413, 3323, 3680, 3439,
       3853, 3156, 3279, 3707, 4006, 3269, 3071, 3779, 3548, 3292, 3497,
       3082, 3248, 3358, 3803, 3566, 3145, 3503, 3571, 3724, 3615, 3203,
       3609, 3561, 3979, 3533, 3689, 3158, 4005, 3181, 3479, 3642, 3632,
       3069, 3394, 3703, 3165, 3354, 3000, 3687, 3556, 2773, 3058, 3344,
       3493, 3297, 3360, 3228, 3277, 3851, 3067, 3692, 3402, 3995, 3318,
       2720, 2937, 3580, 2939, 2989, 3586, 3156, 3246, 3170, 3268, 3389,
       3381, 2864, 3740, 3479, 3647, 3716, 3284, 4204, 3735, 3218, 3685,
       3704, 3214, 3394, 3233, 3352, 3391], dtype=int64)

In [10]:
type(X)

numpy.ndarray

In [11]:
#Converting to Array
# Collecting X and Y
X = data['Head Size(cm^3)'].values
Y = data['Brain Weight(grams)'].values
# sanity check 
if X.shape == Y.shape:
    print(" Proceed Further")
else:
    print(" Shape doesnot match")

 Proceed Further

In [12]:
X.mean()

3633.9915611814345

In [15]:
# Mean X and Y
mean_x = np.mean(X)
mean_y = np.mean(Y)
mean_x, mean_y

(3633.9915611814345, 1282.873417721519)

In [22]:
# Total number of values (length)
n = len(X)
n

237

### Calulate $\theta_0$ and $\theta_1$ :
using the given formula:
\begin{align}
        \mathbf{\theta _1} = \frac{\sum_{i=0}^n(x_i-\bar{x})(y_i-\bar{y}) }{\sum_{i=1}^n(x_i-\bar{x})}.
    \end{align}
$\theta_o$ is an intercept and calculated as:
\begin{align}
        \mathbf{\theta_o} = \bar{y} - \theta_1 \bar{x}
    \end{align}

In [ ]:
#implement above formula in python from scratch
numer = 0
denom = 0
for i in range(n):
    numer += (X[i] - mean_x) * (Y[i] - mean_y)
    denom += (X[i] - mean_x) ** 2
theta_1 = numer/denom
theta_0 = mean_y - (theta1 * mean_x)

In [ ]:
# Print coefficients and y_intercept (AKA m & c or theta1 % thata0)

### Lets visualize our model:

In [ ]:
# Plotting Values and Regression Line

max_x = np.max(X) + 100
min_x = np.min(X) - 100

# Calculating line values x and y
x = np.linspace(min_x, max_x, 1000)
y = b0 + b1 * x

# Ploting Line
plt.plot(x, y, color='#58b970', label='Regression Line')
# Ploting Scatter Points
plt.scatter(X, Y, c='#ef5423', label='Scatter Plot')

plt.xlabel('Head Size in cm3')
plt.ylabel('Brain Weight in grams')
plt.legend()
plt.show()

### Evaluate our Model:
Lets see How Good is our model. As discussed in the lecture and Tutorial we will use Root Mean Squared Error and Coefficient of Determination( R2 )
Mathematically:
\begin{align}
        \mathbf{RMSE}  = \sqrt{\sum_{i=1}^n (1/m (\hat{y_i} - y_i)^2)}
    \end{align}

\begin{align}
        \mathbf{R^2}  = 1 - \frac{SSR}{SST}
    \end{align}

\begin{align}
         \mathbf{SST} = \sum_{i=1}^n (y_i - \bar{y})^2
    \end{align}
\begin{align}
         \mathbf{SSR} = \sum_{i=1}^n (y_i - \hat{y_i})^2
    \end{align}

In [ ]:
# Calculate Root Mean Squares Error from scratch.

In [ ]:
#Calculate the R2 square from scratch

In [ ]:
#Display the result

# The sickit Learn Approach

Building Machine Learning models are very easy using scikit-learn. Let's see how we can build this Simple Linear Regression Model using scikit-learn.

In [ ]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

# We cannot use Rank 1 matrix in scikit learn. Use the reshape function to reshape the X.

# Multiple Linear Regression
#(Datasets for this task is <b>student.csv</b>)
Multiple Linear Regression is a type of Linear Regression when the input has multiple features ((variables)).Similar to Simple Linear Regression, we have input variable(X) and output variable(Y). But the input variable has nn features. Therefore, we can represent this linear model as follows;
\begin{align}
        \mathbf{Y} = \theta_o + \theta_1x_1 + \theta_2x_2 + .....+ \theta_nx_n
    \end{align}
Rewriting the equation:where $x_0 = 1$:
\begin{align}
        \mathbf{Y} = \theta_ox_0 + \theta_1x_1 + \theta_2x_2 + .....+ \theta_nx_n
    \end{align}
(Lets remove $\theta_0$ for easy calculation.)
Convert the equation to matrix:
\begin{align}
        \mathbf{Y} = \theta^T X
    \end{align}
where:
\begin{align}
        \mathbf{\theta} = [\theta_o, \theta_1, ...., \theta_n]^T
    \end{align}
\begin{align}
        \mathbf{X} = [x_o, x_1, ...., x_n]^T
    \end{align}

Our function can now be defined as:
\begin{align}
        \mathbf{h_\theta(.)}  = \theta^T x
    \end{align}
And the cost function will be:
\begin{align}
        \mathbf{J(\theta)}  = \frac{1}{2n} \sum_{i=1}^n(h_\theta(x_i) - y_i)^2
    \end{align}

## Steps:
(Datasets for this particular task is student.csv)
*   Decision Task:
    *   Predicti the score of writing based on  given datasets.
    *   Approach Multiple Linear Regression with Gradient Descent.
*   Error Function and Evaluation Metrics:
    *  MSE.
    *  R squared.
*   Tasks to DO:
    *   Read the dataset using pandas.
    *   Display top 5 and bottom 5 rows of datasets.
    *   Information of the datasets.
    *   Identify Feature and Target varaible.
    *   We are doing mathematical operations we need to convert our feature and target variable into arrays.

In [ ]:
#import the dataset

In [ ]:
math = data['Math'].values
read = data['Reading'].values
write = data['Writing'].values

Lets Visualize the data:

In [ ]:
from mpl_toolkits.mplot3d import Axes3D
# Ploting the scores as scatter plot
fig = plt.figure()
ax = Axes3D(fig)
ax.scatter(math, read, write, color='#ef1234')
plt.show()

# Initialize the following values:
(Remeber the rule for matrix multiplication)

1.   $x_0$ to one Hint you can use np.ones methods of numpy
2.   Initialize the values of B i.e we can start from 0
3.   Initialize the learning rate to be 0.0001

# Cost Function
Calculate the cost fucntion:
From Lecture We know:
\begin{align}
        \mathbf{J(\theta)}  = \frac{1}{2n} \sum_{i=1}^n(h_\theta(x_i) - y_i)^2
    \end{align}
###Hints:
def cost_fucntion(parameters):
*   """Parameters"""
      *   Array of features and targets
      *   Array of weights or theta
*   Returns Cost value J

In [ ]:
#calculate the cost function here

#Gradient:
Function to estimate: 
  *   $h_\theta(x) = \theta^T x$

*   Loss function to minimize: 
      *   $(h_\theta(x) - y)^2$
*   Gradient: Decsent update:
      *   $\theta_(j+1)   = \theta_j - LR(D_\theta)$
*   $D(\theta) = 1/m * (\theta^T * X)$

In [ ]:
#implement your code here

# SK LEARN
Simple Implementation of Ridge and Lasso Regularization

In [21]:
#implement your code here
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression,LogisticRegression,Lasso, Ridge
from sklearn.metrics import confusion_matrix
#ROC&AUC

In [11]:
#implementing simple linear regressin from sklearn.
salarydata = pd.read_csv('Salary_Data.csv')

In [12]:
salarydata.head()

   YearsExperience   Salary
0              1.1  39343.0
1              1.3  46205.0
2              1.5  37731.0
3              2.0  43525.0
4              2.2  39891.0

In [13]:
salarydata.tail()

    YearsExperience    Salary
25              9.0  105582.0
26              9.5  116969.0
27              9.6  112635.0
28             10.3  122391.0
29             10.5  121872.0

In [14]:
salarydata.sample(5)

    YearsExperience   Salary
0               1.1  39343.0
15              4.9  67938.0
7               3.2  54445.0
14              4.5  61111.0
1               1.3  46205.0

In [19]:
salarydata.shape

(30, 2)

In [15]:
salarydata.describe()

       YearsExperience         Salary
count        30.000000      30.000000
mean          5.313333   76003.000000
std           2.837888   27414.429785
min           1.100000   37731.000000
25%           3.200000   56720.750000
50%           4.700000   65237.000000
75%           7.700000  100544.750000
max          10.500000  122391.000000

In [17]:
X = salarydata['YearsExperience'].values
y = salarydata['Salary'].values

In [23]:
Xtrain, Xtest, ytrain, ytest = train_test_split(X, y, test_size=0.1, random_state=2)

In [31]:
Xtrain = Xtrain.reshape(-1,1)
Xtest = Xtest.reshape(-1,1)

In [37]:
lr = LinearRegression()
lr.fit(Xtrain, ytrain)
pred = lr.predict(Xtest)

In [39]:
from sklearn.metrics import mean_squared_error
mse = mean_squared_error(ytest, pred)
mse

49740843.88108194